* {
  margin: 0;
  padding: 0;
}
.Fundo {
  background-color: rgb(12, 12, 136);
  padding: 0;
  margin: 0;
}
.footerBg {
  background-color: rgb(24, 56, 132);
  z-index: 13;
  min-height: 48px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: auto;
  overflow: hidden;
  padding: 0px 24px;
}
.texto {
  line-height: 19px;
  text-align: left;
  color: rgb(255, 255, 255);
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI",
    -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  margin: 14px 24px 14px 0px;
  display: flex;
  align-items: center;
  
}
.divisoria {
  position: absolute;
  width: 40px;
  height: 10px;
  left: 657px;
  top: 971px;
  border: 3px solid #ffffff;
  transform: rotate(90deg);
}
