<footer class="Fundo">
  <div class="footerBg">
    <div>
      <p class="texto">
          © Autoglass | Autoplay 2021
      </p>
  </div>
</footer>
<script src="/js/script.js"></script>
<script src="/js/modal.js"></script>
</body>
</html>