<header id="header">
  <div class="d-flex">
    <a href="/"><img src="/img/logo.png" alt="autoglass" width="130"></a>
  </div>

  <div>
    <h1>Calendário Corporativo</h1>
    <!-- Componetização NavBar-->
    <link rel="stylesheet" href="style/header.css">
    <ul id="barraDeNavegacao" class="d-flex">
    <li><a href="/">Início</a></li>
    <li><a href="/calendario">Calendário</a></li>
    <li><a href="/pilares">Pilares</a></li>
    <li><a href="/instrutores">Instrutores</a></li>
    <li><a href="/locais">Locais</a></li>
    <li><a href="/turmas">Turmas</a></li>
    <li><a href="/disciplinas">Disciplinas</a></li>
    <li><a href="/aulas">Aulas</a>
    </ul>
  </div>
</header>