<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de instrutores</title>
    <link rel="stylesheet" href="style/paginas.css">
    <link rel="stylesheet" href="style/header.css" />
    <link rel="stylesheet" href="style/footer.css">
    <link rel="stylesheet" href="style/modal.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="img/logocec.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

  <%- include ('partials/header') %>

    <main>
      <section>
          <div id="segundaHeader">
            <div id="Titulo">
              <h1>Instrutores</h1>
            </div>
            <div id="botoes">
              <input class="botoes" id="botaoPesquisar" type="text" placeholder="Pesquisar" value="">
              <button class="botoes" id="botaoAdicionar" onclick="OpenModalSala()"><img id="add-icon"  src="img/add.png" width="11px">Adicionar</button>
              <button class="botoes" id="botaoExportar" onclick="ExportToExcel()"> <img id="excelPicture" src="img/excel-i.png"> Exportar</button>
            </div>
          </div>
          <br>
          <hr class="style-one">
          <div id="FiltrosSection">
            <h3>Filtros:</h3>
            <select class="selectBox" name="setor" id="setor">
              <option disabled selected>Setor</option>
              <option value="tiead">TI/EAD</option>
              <option value="operacional">Operacional</option>
              <option value="lideranca">Líderança</option>
              <option value="televendas">Televendas</option>
            </select>
            <select class="selectBox" name="disponibilidade" id="disponibilidade">
              <option disabled selected>Disponibilidade</option>
              <option value="disponivel">Disponível</option>
              <option value="ferias">Férias</option>
              <option value="atestado">Atestado</option>
              <option value="licenca">Licença</option>
            </select>
            <select class="selectBox" name="maximoItensPagina" id="maximoItensPagina">
              <option value="10">10 por página</option>
              <option value="30">30 por página</option>
            </select>
          </div>
      </section>

      <section>
        <div id="myModal" class="modal">
          <div class="modal-content">
            <div class="modal-header">
              <h1 id="titulo-modal">Cadastrar Instrutor</h1>
              <span class="close">&times;</span>
            </div>
            <div class="form">
              <label for="professor" class="Titulo-Campo">Instrutor:</label>
              <input type="text" id="professor" class="Campo-Modal-Grande" placeholder="Fernando Carreira" required />
            </div>
            <div class="form">
              <label for="abreviacao" class="Titulo-Campo">Abreviação:</label>
              <input type="text" id="abreviacao" class="Campo-Modal-Grande" placeholder="Fernando" required />
            </div>
            <div class="form" required>
              <label for="setor">Setor</label>
              <select name="select" id="Setor" required>
                <option value="valor1">Operacional</option>
                <option value="valor2">Líderança</option>
                <option value="valor3">Ead/Ti</option>
                <option value="valor3">Call Center</option>
              </select>
            </div>
            <div class="form">
              <label for="emial" class="Titulo-Campo">Email:</label>
              <input type="text" id="email" class="Campo-Modal-Grande" placeholder="exemplo@autoglass.com.br" required />
            </div>
            <div class="form" required>
              <label for="disponibilidade">Disponibilidade</label>
              <select name="select" id="Setor" required>
                <option value="valor1">Disponível</option>
                <option value="valor2">Atestado</option>
                <option value="valor3">Licença</option>
                <option value="valor3">Férias</option>
              </select>
            </div>

            <div class="modal-footer">
              <div>
                <button id="botaoCancelar">Cancelar</button>
              </div>
              <div>
                <button id="botaoConfirmar" onclick="addArea()">Confirmar</button>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      <section>
        <table id="tbl">
          <tr id="atributos">
            <th></th>
            <th>Instrutor</th>
            <th>Abreviação</th>
            <th>Setor</th>
            <th>Email</th>
            <th>Disponibilidade</th>
            <th></th>
          </tr>
          <tr class="tableRow">
            <td><img class="profilePicture" src="img/user.png" alt="Foto do Professor"></td>
            <td>Wolmar Araújo</td>
            <td>Wolmar</td>
            <td>TI/EAD</td>
            <td>wolmar.araujo@autoglass.com.br</td>
            <td>Disponível</td>
            <td>
              <button class="crud" id="botaoEditar"><img src="img/edit.png"  width="16px" height="16px"></button >
              <button class="crud" id="botaoApagar" onclick='removeLinha(this)'><img src="img/delete.png" width="17px" height="17px"></button>
            </td>
          </tr>
          <tr class="tableRow">
            <td><img class="profilePicture" src="img/user.png" alt="Foto do Professor"></td>
            <td>Daniel Gramlich</td>
            <td>Daniel</td>
            <td>TI/EAD</td>
            <td>daniel.gramlich@autoglass.com.br</td>
            <td>Férias</td>
            <td>
              <button class="crud" id="botaoEditar"><img src="img/edit.png"  width="16px" height="16px"></button >
              <button class="crud" id="botaoApagar" onclick='removeLinha(this)'><img src="img/delete.png" width="17px" height="17px"></button>
            </td>
          </tr>
          <tr class="tableRow">
            <td><img class="profilePicture" src="img/user.png" alt="Foto do Professor"></td>
            <td>Mariany Rodrigues</td>
            <td>Mariany</td>
            <td>Operacional</td>
            <td>mariany.rodrigues@autoglass.com.br</td>
            <td>Licença</td>
            <td>
              <button class="crud" id="botaoEditar"><img src="img/edit.png"  width="16px" height="16px"></button >
              <button class="crud" id="botaoApagar" onclick='removeLinha(this)'><img src="img/delete.png" width="17px" height="17px"></button>
            </td>
          </tr>
        </table>
      </section>
      <section>

        

      </section>
    </main>
    <%- include ('partials/footer') %>