<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de locais</title>
    <link rel="stylesheet" href="style/paginas.css">
    <link rel="stylesheet" href="style/header.css" />
    <link rel="stylesheet" href="style/footer.css">
    <link rel="stylesheet" href="style/modal.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="img/logocec.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
  
  <%- include ('partials/header') %>

    <main>
      <section>
          <div id="segundaHeader">
            <div id="Titulo">
              <h1>Locais</h1>
            </div>
            <div id="botoes">
              <input class="botoes" id="botaoPesquisar" type="text" placeholder="Pesquisar" value="">
              <button class="botoes" id="botaoAdicionar" onclick="OpenModalSala()"><img id="add-icon"  src="img/add.png" width="11px">Adicionar</button>
              <button class="botoes" id="botaoExportar" onclick="ExportToExcel()"> <img id="excelPicture" src="img/excel-i.png"> Exportar</button>
            </div>
          </div>
          <br>
          <hr class="style-one">
          <div id="FiltrosSection">
            <h3>Filtros:</h3>
            <select class="selectBox" name="sala" id="sala">
              <option disabled selected>Local</option>
              <option value="sala1">Sala 1</option>
              <option value="sala2">Sala 2</option>
              <option value="sala3">Sala 3</option>
              <option value="sala4">Sala 4</option>
              <option value="sala5">Sala 5</option>
              <option value="sala6">Sala 6</option>
              <option value="areaExterna">Área Externa</option>
            </select>
            <select class="selectBox" name="sistemas" id="sistemas">
              <option disabled selected>Possui Sistemas ?</option>
              <option value="Possui">Possui</option>
              <option value="naoPossui">Não Possui</option>
            </select>
            <select class="selectBox" name="maximoItensPagina" id="maximoItensPagina">
              <option value="10">10 por página</option>
              <option value="30">30 por página</option>
            </select>
          </div>
      </section>

      <section>
        <div id="myModal" class="modal">
          <div class="modal-content">

            <div class="modal-header">
              <h1 id="titulo-modal">Cadastrar Local</h1>
              <span class="close">&times;</span>
            </div>

            <div class="form">
              <label for="local" class="Titulo-Campo">Local:</label>
              <input type="text" id="local" class="Campo-Modal-Grande" placeholder="Ex: Sala 1" required />
            </div>

            <div class="form">
              <label for="capacidade" class="Titulo-Campo">Capacidade:</label>
              <input type="number" id="capacidade" class="Campo-Modal-Grande" placeholder="Ex: 20" required />
            </div>

            <div class="form">
              <label for="Setor" class="Titulo-Campo">Possui Sistemas ?</label>
              <div class="Campo-seletor-Modal-Pequeno" required>
                <select name="select" id="possuiSis" required>
                  <option value="Possui">Possui</option>
                  <option value="Não Possui">Não Possui</option>
                </select>
              </div>
            </div>

            <div class="modal-footer">
              <div>
                <button id="botaoCancelar">Cancelar</button>
              </div>
              <div>
                <button id="botaoConfirmar" onclick="addArea()">Confirmar</button>
              </div>
            </div>

          </div>
        </div>
      </section>
      
      <section>
        <table id="tbl">
          <tr id="atributos">
            <th>Sala</th>
            <th>Capacidade</th>
            <th>Possui Sistemas ?</th>
            <th id="colunaCrud"></th>
          </tr>
          <tr class="tableRow">
            <td>Sala 1</td>
            <td>20</td>
            <td>Possui</td>
            <td>
              <button class="crud" id="botaoEditar"><img src="img/edit.png"  width="16px" height="16px"></button >
              <button class="crud" id="botaoApagar" onclick='removeLinha(this)'><img src="img/delete.png" width="17px" height="17px"></button>
            </td>
          </tr>
          <tr class="tableRow">
            <td>Sala 2</td>
            <td>20</td>
            <td>Possui</td>
            <td>
              <button class="crud" id="botaoEditar"><img src="img/edit.png"  width="16px" height="16px"></button >
              <button class="crud" id="botaoApagar" onclick='removeLinha(this)'><img src="img/delete.png" width="17px" height="17px"></button>
            </td>
          </tr>
          <tr class="tableRow">
            <td>Sala 3</td>
            <td>30</td>
            <td>Não Possui</td>
            <td>
              <button class="crud" id="botaoEditar"><img src="img/edit.png"  width="16px" height="16px"></button >
              <button class="crud" id="botaoApagar" onclick='removeLinha(this)'><img src="img/delete.png" width="17px" height="17px"></button>
            </td>
          </tr>
          <tr class="tableRow">
            <td>Sala 4</td>
            <td>30</td>
            <td>Não Possui</td>
            <td>
              <button class="crud" id="botaoEditar"><img src="img/edit.png"  width="16px" height="16px"></button >
              <button class="crud" id="botaoApagar" onclick='removeLinha(this)'><img src="img/delete.png" width="17px" height="17px"></button>
            </td>
          </tr>
          <tr class="tableRow">
            <td>Sala 5</td>
            <td>20</td>
            <td>Não Possui</td>
            <td>
              <button class="crud" id="botaoEditar"><img src="img/edit.png"  width="16px" height="16px"></button >
              <button class="crud" id="botaoApagar" onclick='removeLinha(this)'><img src="img/delete.png" width="17px" height="17px"></button>
            </td>
          </tr>
          <tr class="tableRow">
            <td>Sala 6</td>
            <td>20</td>
            <td>Não Possui</td>
            <td>
              <button class="crud" id="botaoEditar"><img src="img/edit.png"  width="16px" height="16px"></button >
              <button class="crud" id="botaoApagar" onclick='removeLinha(this)'><img src="img/delete.png" width="17px" height="17px"></button>
            </td>
          </tr>
          <tr class="tableRow">
            <td>Área Externa</td>
            <td>40</td>
            <td>Não Possui</td>
            <td>
              <button class="crud" id="botaoEditar"><img src="img/edit.png"  width="16px" height="16px"></button >
              <button class="crud" id="botaoApagar" onclick='removeLinha(this)'><img src="img/delete.png" width="17px" height="17px"></button>
            </td>
          </tr>
        </table>
      </section>
      
    </main>
    <%- include ('partials/footer') %>